.p-autocomplete-items{
    padding: 0px !important;
}
/* .p-component{
    width: auto !important;
} */
/* .custom-auto-complete {
    width: auto !important;
  } */
   .p-autocomplete-input{
    width: 100%;
    color: black !important;
   }
 