.your-custom-input-class {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.your-custom-dropdown-class {
  background-color: white;
  border: 1px solid #ccc;
}
.react-tel-input .form-control.your-custom-input-class {
  width: 100% !important;
  max-width: none;
}
.react-tel-input .form-control.your-custom-input-class{
  height: 40px;
}
.react-tel-input .form-control.your-custom-input-class{
  height: 40px;
}
