.custom-dropdown-toggle:hover {
    border-color: 1px solid black !important;
    background-color: transparent;
    color: black;
}

.scrollable-dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
    padding-right: 10px;

}


/* .p-component{
    width: auto !important;
} */
/* .p-multiselect {
    width: 100% !important;
} */